.sidebar {
  flex: none;
  display: flex;
  flex-direction: column;
  width: 30rem;
  padding: 0;
  background: $white;
  height: 100vh;

  header {
    padding: 1rem 2rem;
    border-bottom: 1px solid $gray;
    flex: none;
  }
}

.sidebar-nav {
  flex: 1;
  overflow: auto;
  border-right: solid 2px rgba($gray, .5);

  a {
    display: block;
    font-weight: $font-weight-bold;
    padding: .5rem 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.sidebar-nav-heading {
  @extend .h5;
  margin: 2rem 0 0 0;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

.sidebar-nav-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  line-height: 1.8;

  .sidebar-nav-items {
    height: 0;

    a {
      font-weight: $font-weight-light;
      padding-left: 3.5rem;
    }
  }

  .expanded .sidebar-nav-items {
    height: auto;
  }
}
