.logo {

  .icon {
    display: inline-block;
    vertical-align: middle;

    img {
      width: 180px;
      display: block;
      border-radius: 2px;
    }
  }

  .path {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: $brand-primary;
    margin-left: 5px;
  }
}
