.navbar {
  flex: none;
  height: 56px;
  display: flex;
}

.nav-left {
  padding: 0.5rem rem(20px);
  border-bottom: 1px solid $gray;
  flex-basis: 50%;
  display: flex;
}

.nav-right {
  padding: 1rem 3rem;
  background-color: $white;
  border-left: 1px solid $gray;
  border-bottom: 1px solid $gray;
  flex-basis: 50%;

  .btn {
    border: none;
    padding: 1rem 2rem;
    margin-right: rem(20px);
  }
}

.nav-control {
  height: 3.5rem;
  flex: 1;
  margin: 0.5rem;
}

.btn-navbar {
  height: 3.5rem;
  margin: 0.5rem;
}
