.tab-header {
  flex: 1;
  display: flex;
  flex-direction: row;
  div {
    padding: 0.5em;
    flex: 1;
    text-align: center;
    background: #f3f3f3;
    cursor: pointer;
    &.active {
      cursor: auto;
      background: initial;
    }
  }
}
.tab-body {
  flex-direction: column;

  textarea {
    width: 100%;
    resize: vertical;
  }

  .json-example {
    display: table;
    background: #465076;
    border-radius: 4px;
    padding: .5em;
    width: 100%;
  }

  .json-entry {
    display: table-row;
    margin: .5em;
    width: 100%;
  }

  .json-label {
    text-align: right;
    display: table-cell;
    vertical-align: middle;

    .json-key {
      padding: 0 1em 0 1em;
    }

    .json-type {
      padding-right: 1em;
      code {
        cursor: pointer;
      }
    }
  }

  .json-value {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    padding: .25em 0 .25em 0;
  }


  .json-description {
    text-align: right;
    padding: 1em;
  }

  .json-expanded {
    padding: 1em;
    border-radius: 4px;
  }
}
.json-error {
  padding: .5em;
}
