<div class="tab-header">
  <div class="tab-select"
       (click)="showJson = false"
       [ngClass]="{'active': !showJson}">
    Format
  </div>
  <div class="tab-select"
       (click)="showJson = true"
       [ngClass]="{'active': showJson}">
    Json
  </div>
</div>
<div class="tab-body" *ngIf="showJson">
  <textarea class="form-control"
            autocomplete="off"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="false"
            [rows]="parametersJson.split('\n').length"
            [value]="parametersJson"
            (input)="onJsonChange($event.target.value)"
  ></textarea>
  <div class="json-error color-danger" *ngIf="errorMessage">{{errorMessage}}</div>
</div>
<div class="tab-body" *ngIf="!showJson">
  <div class="json-example">
    <ng-container *ngFor="let parameter of parameters" >
      <ng-container *ngFor="let property of getParameterProperties(parameter)">
        <div class="json-entry">
          <div class="json-label">
            <div class="json-key">
              {{property.name}}:
            </div>
            <div class="json-type">
              <code class="parameter-type {{property.type || property.schema && 'object'}}">
            {{property.type ||
              property.schema && property.schema.type ||
              property.name + ' schema' }}
              </code>
            </div>
          </div>
          <div class="json-value" *ngIf="getParameterType(property) === 'string'">
            <input
              type="text"
              class="form-control"
              [placeholder]="property.description"
            >
          </div>
          <div class="json-value" *ngIf="getParameterType(property) === 'boolean'">
            <span class="btn-group">
              <button type="button" class="btn btn-outline">true</button>
              <button type="button" class="btn btn-outline">false</button>
            </span>
          </div>
          <div class="json-value" *ngIf="getParameterType(property) === 'array'">
            <button type="button" class="btn btn-outline">
              +
            </button>
          </div>
          <div class="json-value" *ngIf="getParameterType(property) === 'object'">
            <button type="button" class="btn btn-outline">
              {{'{...}'}}
            </button>
          </div>
        </div>
        <div class="json-entry" *ngIf="getParameterType(property) !== 'string'">
          <div class="json-label"></div>
          <div class="json-value">
            {{property.description}}
          </div>
        </div>
        <div *ngIf="getParameterType(property) === 'object'">
            <textarea style="width: 100%;"></textarea>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
