/*
 * LMC Variables
 * If overridng bootstrap please place inside _bs-variables.scss
 */

// Brand Colors:
$white: #fff;
$black: #000;
$color-1: #0b5fbf;
$color-2: #ff820f;
$color-3: #0021a3;
$color-4: #2f343b;
$color-5: #4caf50;
$color-6: #e84b30;


$brand-primary: $color-1;
$brand-blue: $color-1;

$brand-secondary: $color-2;
$link-color: $color-2;

// Base Colors:
$text-base: $color-4;
$shade-light: $color-4;
$shade-normal: $color-4;
$shade-dark: $black;

// Data types:
$data-string: $color-1;
$data-number: $color-2;
$data-integer: $color-2;
$data-boolean: #b22fd0;
$data-array: #9e54dd;

// Login modal colors:
$gray: #e8e7ef;
$gray-light: #eff0f4;


// Action Colors:
$warning: $color-2;
$danger: $color-6;
$success: $color-5;

// Border Radius
$border-radius-base: 2px;


/* * * *
 * Screen Sizes
 * Used in _mixins.scss > @mixin respond-to($breakpoint)
 * * * */
$breakpoints: (

  'xxs': (max-width: 480px),

  'xs': (max-width: 767px),

  'sm': "(min-width: 768px) and (max-width: 991px)",
  'sm-up': (min-width: 768px),
  'sm-down': (max-width: 991px),

  'md': "(min-width: 992px) and (max-width: 1180px)",
  'md-up': (min-width: 992px),
  'md-down': (max-width: 1180px),

  'lg': (min-width: 1181px),
);


/* * * *
 * Columns
 * * * */
$column-count: 8;
$column-padding: 1rem;
