code, kbd, pre, samp {
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
}

pre {
  padding: 1rem 2rem;
  background: $shade-normal;
  border-radius: 4px;
  font-size: 13px;
  white-space: pre-wrap;
  word-break: break-word;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
