


h1, h2, h3,
.h1, .h2, .h3 {
  margin-top: 2rem;
  margin-bottom: 3.5rem;
  font-family: $font-family-2;
}

h4, h5, h6,
.h4, .h5, .h6 {
  margin-top: 1.3rem;
  font-family: $font-family-2;
}

h1, .h1 {
  font-size: 3.9rem;
}

h2, .h2 {
  font-size: 3.1rem;
}

h3, .h3 {
  font-size: 2.5rem;
}

h4, .h4 {
  font-size: 2rem;
}

h5, .h5 {
  font-size: rem(24px);
  line-height: 1.5;
}

h6, .h6 {
  font-size: 1.3rem;
}

p, .p {
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 1.8;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  font-family: $font-family-2;
}

a {
  text-decoration: none;
  font-weight: 400;
  color: $color-4;
  font-family: $font-family-2;


  &:disabled, &.disabled, &[disabled] {
    opacity: .5;
    cursor: not-allowed;

    &:hover {
      color: $shade-light;
    }
  }

  &.selected, &.active {
    color: $color-1;
  }
}

.font-size-small {
  font-size: 1.3rem;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
